.mainLogo {
  text-align: center;
}
.nav {
  display: inline-block;
  text-align: center;
  margin: 2%;
  padding: 2%;
}
.bar {
  text-align: center;
}
body {
  margin: 2%;
  padding: 2%;
}
.mainImg {
  width: 70%;
  height: 70%;
}
.single {
  background-color: rgb(200, 214, 241);
  text-align: center;
}
.single img {
  display: inline;
}
